html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    background-color:#B0E0E6;
    color: #000 ;
    line-height: 1.6;/*Между строчный интервал.*/
    position: relative;
}

/*==HEADER==*/

header{
    background-color:#596164 ;
     opacity: 0.5;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 30px;
    margin-bottom: 5px;
}
.left-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;

}
.right-content {
   text-align: right;
   padding-right: 20px;
}
nav ul {
    list-style:none;
    display: flex;
    gap: 20px;
    justify-content: right;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.5s ease;
}
nav ul li a:hover{
    color: #f39c12;
}
/*==MAIN(GENERAL)==*/

main{
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    max-width: 370px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}
main h1{
    font-size: 36px;
     line-height: 1.2;
}
main ul{
    font-size: 26x;
}
.done{
    text-decoration: line-through;
    color: #596164;
}
footer{
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background-color: #596164;
     opacity: 0.6;
    position: relative;
    bottom: 0;
    width: 100%;
}
.button-add{
    background-color:#007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-add:hover{
background-color: #0056b3;
}
.button-clear{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-clear:hover{
    background-color:#c62828 ;
}
.button-delet{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}
.button-delet:hover{
    background-color:#c62828 ;
}
#task-input{
    font-size: 20px;
}
#task-list{
    font-size: 20px;
}

/* === ADAPTABILITY === */
@media (max-width: 768px) {
    header h1 {
    font-size: 10px;
    }
    nav ul li a {
        font-size: 8px;
    }
    .right-content {
        padding-right: 2px;
    }
    nav ul {
    gap: 5px;}
}